.about {
  position: relative;
  min-height: 320px;
  padding: 60px 0 120px 250px;

  @include vp-1023 {
    padding-top: 35px;
    padding-bottom: 79px;
    padding-left: 175px;
  }

  @include vp-767 {
    padding-top: 23px;
    padding-left: 0;
  }
}

.about__year {
  position: absolute;
  top: 66px;
  left: -225px;
  display: block;
  max-width: 320px;
  max-height: 156px;
  overflow: hidden;

  font-family: $ff-roboto-condensed;
  font-size: 156px;
  line-height: 156px;
  font-weight: 700;
  color: $color-transparent;

  background-color: $color-deep-sky-blue;
  background-image: url("../../img/bg-year.jpg");
  background-clip: text;
  transform: translateX(50%) translateY(50%) rotate(-90deg);

  @include retina {
    background-image: url("../../img/bg-year@2x.jpg");
  }

  @include vp-1023 {
    top: 45px;
    left: -230px;
  }

  @include vp-767 {
    display: none;
  }
}

.about h2 {
  margin: 0;
  margin-bottom: 13px;

  font-family: $ff-roboto-condensed;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 400;

  @include vp-1023 {
    margin-bottom: 11px;
  }

  @include vp-767 {
    font-size: 28px;
  }
}

.about p {
  margin: 0;
  margin-bottom: 20px;

  line-height: 22px;

  @include vp-767 {
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 19px;
  }
}

.about__mobile-hidden {
  @include vp-767 {
    display: none;
  }
}

.about div {
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 18px;
  }
}

.about__button {
  margin-top: 16px;
  min-width: 180px;
  padding: 15px;

  color: $color-deep-sky-blue;

  border: 1px solid;

  @include vp-1023 {
    padding: 14px 15px 13px;
    margin-top: -5px;
  }

  @include vp-767 {
    padding: 8px 15px 10px;
    min-width: 160px;
  }
}

[data-button-to-collapse].is-hidden {
  display: none;
}

[data-text-collapsible].is-hidden {
  display: none;
}
