.form {
  color: $color-default-white;

  &--consulting {
    max-width: 585px;
    padding-top: 165px;
    padding-bottom: 250px;

    @include vp-1023 {
      max-width: 100%;
      width: 100%;
      padding-top: 46px;
      padding-bottom: 125px;
    }

    @include vp-767 {
      padding-bottom: 87px;
    }
  }
}

.form h3 {
  margin: 0;
  margin-bottom: 13px;

  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 140%;
  }
}

.form--modal h3 {
  margin-right: 20px;
  margin-bottom: 5px;

  font-size: 30px;
  line-height: 42px;
}


.form p {
  margin: 0;
  margin-bottom: 35px;
  margin-left: 5px;

  @include vp-1023 {
    margin-left: 0;
    margin-bottom: 24px;
  }

  @include vp-767 {
    margin-bottom: 34px;

    font-size: 14px;
    line-height: 134%;
  }
}

.form--modal p {
  margin-right: 20px;
  margin-bottom: 40px;

  @include vp-767 {
    margin-right: 0;
  }
}

.form__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  column-gap: 30px;
  row-gap: 20px;
}

.form--consulting .form__inner {
  margin-left: 5px;

  @include vp-1023 {
    margin-left: 0;
  }

  @include vp-767 {
    grid: none;
  }
}

.form--modal .form__inner {
  grid: none;
  row-gap: 20px;
}

.form input[type="text"],
.form input[type="tel"],
.form textarea {
  width: 100%;
  padding: 15px;

  color: $color-black-pearl;

  background-color: $color-pacific-blue;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
  }

  @include hover {
    opacity: 0.8;
  }

  @include focus {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;
  }

  @include vp-767 {
    padding-bottom: 16px;
  }
}

.form label[for="question"] {
  grid-column: 1/-1;
  margin-bottom: 7px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }
}

.form label[for="question-modal"] {
  margin-bottom: 0;
}

.form textarea {
  padding-top: 25px;
  padding-bottom: 21px;

  @include vp-1023 {
    padding-top: 32px;
    padding-bottom: 15px;
  }

  @include vp-767 {
    min-height: 180px;
    padding-top: 25px;
  }
}

.form button {
  display: inline-block;
  margin-right: 10px;
  padding: 15px 20px 11px;

  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $color-default-white;
  text-align: center;
  vertical-align: baseline;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1023 {
    max-width: 265px;
  }

  @include vp-767 {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.form--modal button {
  margin-right: 0;
  margin-top: -2px;
  padding: 15px 20px;
}

.form label[for="consent"],
.form label[for="consent-modal"] {
  order: 2;
  align-self: end;
  display: flex;
  column-gap: 10px;
  margin-left: 10px;

  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.form label[for="consent"] {
  @include vp-1023 {
    margin-left: 0;
    padding-bottom: 4px;
  }

  @include vp-767 {
    margin-left: 5px;

    padding-bottom: 0;
  }
}

.form label[for="consent-modal"] {
  margin-top: -2px;
}

.form input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  &:hover ~ span,
  &:focus ~ span {
    opacity: 0.7;
  }

  &:focus-visible + span {
    outline: 1px solid;
    outline-offset: 1px;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;

    & ~ span {
      opacity: 0.5;
    }
  }
}

.form input[type="checkbox"] + span {
  flex-shrink: 0;
  align-self: center;
  display: block;
  width: 15px;
  height: 15px;

  border: 1px solid;
  border-radius: 2px;

  cursor: pointer;

  @include vp-767 {
    margin-bottom: 3px;
  }
}

.form input[type="checkbox"]:checked + span {
  background-image: url("../../img/svg/tick.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
