.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;

  background-image: linear-gradient(180deg, $color-black-pearl 84.9%, $color-black-pearl-opacity 100%);

  @include vp-1023 {
    position: static;
  }
}
